body {
  background: url("../../assets/img/background1.png");
  background-size: cover;
  font-family: Poppins, sans-serif;
  color: rgba(225, 225, 225, 0.6);
}

a:link {
  text-decoration: none;
}

.navbar {
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.1) !important;
  padding: 20px 0;
}

@media (min-width: 1200px) and (max-width: 1390px) {
  .navbar-brand img {
    max-width: 140px;
  }
}

@media (max-width: 1199px) {
  .navbar-brand img {
    max-width: 200px;
  }
}

.navbar-nav .nav-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-weight: 500;
}

.nav-link:focus, .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #f25f79;
}

@media only screen and (max-width: 1199px) {
  .nav-item {
    padding: 10px;
  }
}

.form-search {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 15px;
  border-radius: 100px;
}

@media (min-width: 1400px) {
  .form-search {
    width: 200px;
  }
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.form-search .form-control {
  color: white;
  font-size: 0.875rem;
}

.form-search svg {
  width: 18px;
  height: 18px;
  color: white;
}

.form-search .form-control::placeholder {
  color: #A1A5B7;
  font-size: 1rem;
}

/* main */

ul.category-list-wrapper {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.category-list-wrapper .cate-item {
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 16px;
  width: 180px;
  color: #4f5053;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
}

@media (min-width: 500px) {
  ul.category-list-wrapper .cate-item {
    width: 190px;
  }
}

@media (max-width: 499px) {
  ul.category-list-wrapper .cate-item {
    width: 215px;
  }
}

ul.category-list-wrapper .cate-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.icon-cate {
  margin-right: 8px;
  float: left;
}

.icon-cate img {
  width: 40px;
  height: 40px;
}

.cate-info {
  margin-top: 5px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cate-item .name {
  color: #fff;
  font-weight: bold;
}

.cate-item .amount {
  color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
}

.section-title {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 600;
}

.section-title {
  font-size: 1.3rem;
}

/* slide */

.slider-container {
  position: relative;
  margin: 0 auto;
}

.slider {
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  padding-left: 70px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 50%;
  max-width: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
}

@media (min-width: 320px) {
  .slide {
    max-width: 33.33%;
    min-width: 33.33%;
  }
}

@media (min-width: 460px) {
  .slide {
    max-width: 25%;
    min-width: 25%;
  }
}

@media (min-width: 640px) {
  .slide {
    max-width: 16.6%;
    min-width: 16.6%;
  }
}

@media (min-width: 768px) {
  .slide {
    max-width: 12.5%;
    min-width: 12.5%;
  }
}

@media (min-width: 1024px) {
  .slide {
    max-width: 9.09%;
    min-width: 9.09%;
  }
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: 52px;
  height: 52px;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.3);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  border: 1px solid white;
}

.prev {
  border-radius: 40px;
}

.next {
  border-radius: 40px;
  right: 0;
}

.prev:hover, .next:hover {
  background: rgba(255,255,255,0.5);
}

.icon-slider-nav {
  color: white;
}

.game-item {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}

.thumb {
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.thumb img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
}

.thumb:hover {
  opacity: 0.5;
  transition: all 0.5s ease;
}

/* list game */

.grid-1 .list-game-item {
  background: rgba(225, 225, 225, 0.15);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.grid-1 .list-thumb img {
  width: 100%;
  aspect-ratio: 4/3;
  /*height: 140px;*/
  object-fit: cover;
}

.grid-1 .list-info {
  padding: 10px;
}

.list-info {
  color: rgba(255, 255, 255, 0.5);
}

.list-info .title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* popular */

.grid-2 {
  margin-bottom: 20px;
}

.grid-2 .list-game-item {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  overflow: hidden;
  float: left;
  width: 100%;
  border-radius: 20px;
}

.grid-2 .list-thumb {
  max-width: 100px;
  float: left;
  margin-right: 15px;
  border-radius: 20%;
  overflow: hidden;
}

.grid-2 .list-thumb img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.grid-2 .title {
  font-size: 20px;
  padding-top: 5px;
}

.list-category {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.grid-2 .list-game-item:hover, .grid-2 .list-game-item.active, .grid-1 .list-game-item:hover, .grid-1 .list-game-item.active {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.list-thumb:hover {
  opacity: 0.5;
  transition: all 0.5s ease;
}

/* new-game */

.grid-3 {
  /*margin-bottom: 20px;*/
}

.grid-3 .list-thumb img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 20%;
}

.list-info {
  color: rgba(255, 255, 255, 0.5);
}

.grid-3 .list-info {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  position: relative;
  bottom: 50px;
  opacity: 0;
  font-weight: 700;
  font-size: 18px;
  padding: 0 10px;
}

.grid-3 .list-game-item:hover > .list-info {
  opacity: 1;
  transition: all 0.5s ease;
}

.grid-3 .list-game-item:hover .list-thumb {
  opacity: 0.4;
  transition: all 0.5s ease;
}

/* footer */

.border-line {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.ft-cont {
  padding: 40px 0;
}

.ft-list a {
  color: #b978cf;
}

.ft-list.ft-link-page {
  list-style: none;
  padding-left: 0;
}

.footer-copyright {
  background: rgba(0, 0, 0, 0.4);
}

/* category */

.content-wrapper {
  margin-top: 40px;
}

.item-title {
  color: white;
  margin-bottom: 30px;
}

.category-description {
  padding: 20px;
  margin: 30px 0;
  background: rgba(255, 255, 255, 0.1);
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #5bc0de;
  margin-bottom: 40px;
}

/* detail */

.game-player {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  overflow: hidden;
}

.game-iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.game-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.game-iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 10px 10px 0 0;
}

/* gg */

.game-info {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 18px 18px 18px;
  display: flex;
  flex-wrap: wrap;
}

.header-left {
  margin: 10px 0;
  flex-grow: 1;
}

.single-title, .page-title {
  font-size: calc(1.3rem + .6vw);
  color: #fff;
}

.star-off {
  color: #5C5B5F;
  margin-right: 4px;
}

.header-right {
  margin-left: auto;
  text-align: right;
}

.btn-capsule {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  color: #fff;
  border-radius: 40px;
}

.header-right .btn, .header-right .social-icon {
  margin-top: 10px;
}

.header-right .btn-capsule, .header-right .btn-share {
  margin-left: 10px;
}

.b-icon {
  margin-right: 8px;
}

.btn-capsule:hover, .btn-capsule.active, .btn-circle:hover {
  background: rgba(255, 255, 255, 0.5);
}

.highlight-text {
  color: #fff;
}

ul.category-list-game {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

ul.category-list-game .cate-item {
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 16px;
  color: #4f5053;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

ul.category-list-game .icon-category {
  float: none;
}

ul.category-list-game .cate-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.icon-category {
  margin-right: 8px;
}

.widget-title {
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  /*margin-top: 30px;*/
  background: rgba(255, 255, 255, 0.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* gg */

.sidebar .list-game-item {
  margin-bottom: 20px;
}

.page-content {
  margin-top: 40px;
}

@media (max-width: 1199px) {
  .od-1 {
    order: 1;
  }
}

@media (max-width: 1199px) {
  .od-2 {
    order: 2;
  }
}

@media (max-width: 1199px) {
  .od-3 {
    order: 3;
  }
}

